main{
    padding: 0px 20px;
    margin-bottom: 20px;
}

/* TITULO */
#title{
    padding: 40px 0px;
}

h1{
    font-size: 2.4rem;
    text-align: center;
    font-family: 'Staatliches';
}

span{
    font-family: 'Staatliches';
    background-color: #1A1A1A;
    color: white;
    padding: 0px 10px 0px 10px;
}

/* QUE SUCEDIO */
#texto{
    width: 100%;
    text-align: justify;
    padding: 20px;
    border: 1px solid black;
    color: white;
    background-color: #212121;
    border-radius: 6px;
    margin: 0 0 30px 0;
}