footer{
    background-color: #343A40;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    bottom: 0vh;
}

address{
    text-align: center;
}