/* IMAGEN DE FONDO */
body, html{
    background-image: url("../img/img2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
}

/* TEXTO CENTRAL */
main{
    margin-top: 10%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
}

main h1{
    font-size: 4rem;
    text-align: center;
    font-family: "Advent Pro";
    padding: 15px;
    display: block;
    width: 100%;
    border: 1px solid white
}